.cd-schedule__event a::before{
   display: none;
}
.cd-main-header h1 {
    color: #002b49;
}
.cd-schedule__event small{
    display: block;
    color: aliceblue;
}
.cd-schedule__events .nav-pills .nav-link.active{
    background-color: #4d73ae;
}
.cd-schedule__events .nav-item{
    color: #4d73ae;
}